<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @invitation.email %>
</p>

<p>
  <b>User:</b>
  <%= @invitation.user_id %>
</p>


<%= link_to 'Edit', edit_invitation_path(@invitation) %> |
<%= link_to 'Back', invitations_path %>
