<!DOCTYPE html>
<html>
<head>
  <title>Registrar</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
	<div id='wrapper' class='<%= controller.controller_name %> <%= controller.action_name %>'>
		<div class='inner'>
			<% flash.each do |key| -%>
				<div class='<%= key -%>'>
					<%= flash[key] %>
				</div>
			<% end -%>
			<%= image_tag 'cohuman_logo.png' %>
			<%= yield %>
		</div>
	</div>
</body>
</html>
